/***********************************************
** IMPORTS
***********************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed:400,300|Roboto+Slab|Muli|Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/***********************************************
** BODY
***********************************************/
body {
  font-size: 95%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
body *,
body *:before,
body *:after {
  box-sizing: border-box;
}
body *:focus {
  outline: none;
}

/***********************************************
** A HREF
***********************************************/
a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

/***********************************************
** A HREF
***********************************************/
a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

/***********************************************
** H
***********************************************/
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 1em 0;
}

/***********************************************
** UL/LI
***********************************************/
ul {
  display: block;
}
li {
  display: list-item;
  list-style-type: disc;
}

/***********************************************
** LABEL
***********************************************/
label {
  display: block;
}
fieldset label[type="disclaimer"] {
  color: dodgerblue;
} 

/***********************************************
** FORM ELEMENTS
***********************************************/
fieldset {
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  background-color: LIGHTGRAY;
  color: DARKGRAY;
}
fieldset * {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
fieldset button[type=button],
fieldset span {
  font-family: monospace;
  font-size: .9rem;
}
fieldset button {
  color: DODGERBLUE;
}
fieldset span {
  color: DARKGRAY;
}
fieldset > ul > li:first-child { 
  padding: 0 0 0 1rem;
  border-left-style: solid;
  border-left-width: 6px;
}
fieldset > div { 
  border-style: solid;
  border-width: 1px;
  border-top: none;
}
legend {
  float: left;
  width: 100%;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-bottom: .5rem;
  font-size: .9rem;
}
select,
option,
textarea,
input {
  font-size: normal;
  border: none;
  min-height: 39px;
}
select:focus,
textarea:focus,
input:focus {
  outline: none;
}
select[disabled],
textarea[disabled]
input[disabled] {
  opacity: 0.75;
}
input[type=radio],
input[type=checkbox] {
  display: flex;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  border-radius: none;
  background-color: none;
}
input::placeholder {
  color: darkgray;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: none !important;
  -webkit-box-shadow: 0 0 0px 1000px none inset;
}
select option {
  padding: 1rem 2rem;
}

/***********************************************
** PLACEHOLDER
***********************************************/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 300;
}



/***********************************************
** Typography
***********************************************/
.font-smallest { font-size: .8rem; }
.font-small { font-size: .9rem; }
.font-normal { font-size: 100%; }
.font-large { font-size: 1.5rem; }
.font-larger { font-size: 2rem; }
.font-largest { font-size: 2.5rem; }

.font-lightest { font-weight: 200; }
.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-strong { font-weight: 600; }
.font-stronger { font-weight: 800; }

.font-upper { text-transform: uppercase; }
.font-dim { opacity: 0.8; }
.font-mono, .font-mono * { font-family: monospace !important; }


/***********************************************
** Materail
***********************************************/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
  }
  /** Icons *************************************/
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: inline-flex;
    vertical-align: middle;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
  .material-icons.set  {
    color: DODGERBLUE !important;
  }
  .material-icons.unset  {
    color: ORANGERED !important;
  }



/***********************************************
** LAYER-XYZ
***********************************************/
layer-y-stick {
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
}
layer-y-scroll {
  display: block;
  position: relative;
  min-height: 100vh;
}
layer-x-contained {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 70vw;
}
layer-x-center {
  position: absolute;
  display: block;
  width: auto;
  transform: translateX(-50%);
  left: 50vw;
  z-index: 1000;
}
layer-y-center {
  position: absolute;
  display: block;
  width: auto;
  top: calc(100vh / 2);
  transform: translateY(-50%);
  z-index: 1000;
}
@media only screen and (max-width: 768px) {
  layer-x-contained {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}



/***********************************************
** BUTTON
***********************************************/
button {
  cursor: pointer !important;
  box-sizing: border-box !important;
  background-color: transparent;
  border: none;
}
button * {
  cursor: pointer !important;
  background-color: transparent;
  border: none;
}
button[disabled=disabled] {
  opacity: 0.3;
}
button[type=submit] {
  width: 100%;
}
.button-action,
button[type=submit] {
  text-transform: none;
  border-width: 1px;
  border-style: solid;
  min-width: 6rem;
  min-height: 5rem;
}
.button-text {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.button-with-icon  {
  display: table !important;
}
.button-with-icon > i {
  display: table-cell !important;
  vertical-align: top;
  padding-right: .25rem;
}
.button-with-icon > i.font-large {
    font-size: 2em;
}
.button-with-icon > i.font-largest {
    font-size: 3em;
}
.button-with-icon > div {
  display: table-cell !important;
  text-align: left !important;
  padding-left: 1em;
  width: 100%;
  vertical-align: top;
}
.button-with-icon > div > label {
    opacity: 1 !important;
}
.button-with-icon > div > span {
    opacity: .7 !important;
}
button[type=submit],
.button-event,
.button-event-alt {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}
button[type=submit],
.button-event,
.button-event-alt:hover {
    border-color: RGBA(0,0,0,0.05);
    background-color: DODGERBLUE;
    box-shadow: 3px 3px 3px RGBA(0,0,0,0.1);
    color: WHITE !important;
}
button[type=submit],
.button-event {
    padding: 1rem;
}
.button-icon-large i.material-icons {
  font-size: 3rem;
}
button[type=submit] *,
.button-event * {
    color: WHITE !important;
}
.button-event label:first-child {
  font-size: 1.5rem;
}
.button-event li:last-child {
  padding-left: 1rem;
}
.button-event-alt {
  display: inline-block;
  position: relative;
  border-color: RGB(245,245,245);
  background-color: RGB(245,245,245);
  padding: .5rem;
  margin: 0 0.25rem 0 0;
}
.button-event-alt,
.button-event-alt * {
  color: DODGERBLUE !important;
}
.button-event-alt * {
  background-color: transparent;
}
.button-event-alt:hover,
.button-event-alt:hover * {
  background-color: DODGERBLUE !important;
  color: WHITE !important;
}
.button-event-alt .button-with-icon > div,
.button-event-parent .button-with-icon > div {
    vertical-align: middle;
    padding-left: .1rem;
}
.button-event-alt label:first-child,
.button-event-parent label:first-child {
  font-size: 0.8rem;
  line-height: 24px;
}
.button-event-alt li:last-child,
.button-event-parent li:last-child {
  padding-left: 0.25rem;
}
.button-event-parent {
  display: inline-block;
  position: relative;
  border-color: RGB(245,245,245);
  background-color: DIMGRAY;
  padding: .5rem;
  margin: 1px 0.25rem 0 0;
}
.button-event-parent,
.button-event-parent * {
  color: WHITE !important;
}


/***********************************************
** Animate
***********************************************/
/** Animations - classes **/
.animate-spin {
  -webkit-animation-name: spin; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .25s; /* Safari 4.0 - 8.0 */
  animation-name: spin;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
.animate-spin-slowly {
  -webkit-animation-name: spin; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: spin;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.animate-spin-forever {
  -webkit-animation-name: spin; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: spin;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
.animate-open {
  -webkit-animation-name: stage-open; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .25s; /* Safari 4.0 - 8.0 */
  animation-name: stage-open;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
.animate-close {
  -webkit-animation-name: stage-close; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .25s; /* Safari 4.0 - 8.0 */
  animation-name: stage-close;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
.animate-fadein {
  animation-fill-mode: forwards;
  animation: fadein 1s; /* Chrome, Safari, Opera */
  animation: fadein 1s;
}
.animate-fadein-soft {
  animation-fill-mode: forwards;
  animation: fadein 3s; /* Chrome, Safari, Opera */
  animation: fadein 3s;
}
.animate-fadeout {
  animation-fill-mode: forwards;
  animation: fadeout 3s; /* Chrome, Safari, Opera */
  animation: fadeout 3s;
}


/** Animations - keyframes **/
@keyframes appear {
    from {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
@keyframes zoom {
    from {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes stage-open {
    0% { left: -240px;}
    100%{ left: 0px;}
}
@keyframes stage-close {
    0%{left: 320px;}
    100%{left: 54px;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


/***********************************************
** Palette
***********************************************/
.palette-light,
.palette-light * {
  background-color: LIGHTGRAY;
  color: DARKGRAY;
}
.palette-dark,
.palette-dark * {
  background-color: DARKGRAY;
  color: WHITE;
}
.palette-dim,
.palette-dim * {
  background-color: DIMGRAY;
  color: WHITE;
}
.palette-message,
.palette-message * {
  background-color: MEDIUMTURQUOISE;
  color: WHITE;
}
.palette-alert,
.palette-alert * {
  background-color: orangered;
  color: WHITE !important;
}
.palette-event,
.palette-event * {
  background-color: DODGERBLUE;
  color: WHITE !important;
}
.palette-event-alt,
.palette-event-alt * {
  background-color: WHITE;
  color: DODGERBLUE !important;
}
.palette-event-alt:hover,
.palette-event-alt:hover * {
  color: DIMGRAY !important;
}
.palette-tint {
  background-color: RGBA(0,0,0,0.12) !important;
}
.palette-tint * {
  background-color: transparent !important;
}



/**********************************************************************************
** User Interface
**********************************************************************************/

.ui-width-auto { width: auto !important; }
.ui-width-full { width: 100% !important; }
.ui-width-minimum { width: 420px !important; }
.ui-width-maximum { width: 90vw !important; }
.ui-height-maximum { height: 100vh !important; }

/** UI-PADDING **/
.ui-column-space { padding: 18px; }
.ui-cell-space {
  padding-top: 36px;
  padding-left: 36px;
}
.ui-cell-space-small {
  padding-top: 18px;
  padding-left: 18px;
}
.ui-cell-space-medium {
  padding-top: 27px;
  padding-left: 27px;
}
.ui-cell-space-large {
  padding-top: 54px;
  padding-left: 54px;
}



/***********************************************
** UI-PADDING
***********************************************/
.ui-padding { padding: 18px !important; }
.ui-padding-top { padding-top: 18px !important; }
.ui-padding-bottom { padding-bottom: 18px !important; }
.ui-padding-right { padding-right: 18px !important; }
.ui-padding-left { padding-left: 18px !important; }

.ui-padding-smallest { padding: 3px !important; }
.ui-padding-smallest-top { padding-top: 3px !important; }
.ui-padding-smallest-bottom { padding-bottom: 3px !important; }
.ui-padding-smallest-right { padding-right: 3px !important; }
.ui-padding-smallest-left { padding-left: 3px !important; }

.ui-padding-small { padding: 9px !important; }
.ui-padding-small-top { padding-top: 9px !important; }
.ui-padding-small-bottom { padding-bottom: 9px !important; }
.ui-padding-small-right { padding-right: 9px !important; }
.ui-padding-small-left { padding-left: 9px !important; }

.ui-padding-medium { padding: 30px !important; }
.ui-padding-medium-top { padding-top: 30px !important; }
.ui-padding-medium-bottom { padding-bottom: 30px !important; }
.ui-padding-medium-right { padding-right: 30px !important; }
.ui-padding-medium-left { padding-left: 30px !important; }

.ui-padding-large { padding: 45px !important; }
.ui-padding-large-top { padding-top: 45px !important; }
.ui-padding-large-bottom { padding-bottom: 45px !important; }
.ui-padding-large-right { padding-right: 45px !important; }
.ui-padding-large-left { padding-left: 45px !important; }



/***********************************************
** UI-MARGIN
***********************************************/
.ui-margin { margin: 18px !important;}
.ui-margin-top { margin-top: 18px !important; }
.ui-margin-bottom { margin-bottom: 18px !important; }
.ui-margin-right { margin-right: 18px !important; }
.ui-margin-left { margin-left: 18px !important; }

.ui-margin-small { margin: 9px !important; }
.ui-margin-small-top { margin-top: 9px !important; }
.ui-margin-small-bottom { margin-bottom: 9px !important; }
.ui-margin-small-right { margin-right: 9px !important; }
.ui-margin-small-left { margin-left: 9px !important; }

.ui-margin-large { margin: 45px !important; }
.ui-margin-large-top { margin-top: 45px !important; }
.ui-margin-large-bottom { margin-bottom: 45px !important; }
.ui-margin-large-right { margin-right: 45px !important; }
.ui-margin-large-left { margin-left: 45px !important; }

.ui-margin-pixel { margin: 1px !important; }
.ui-margin-pixel-top { margin-top: 1px !important; }
.ui-margin-pixel-bottom { margin-bottom: 1px !important; }
.ui-margin-pixel-right { margin-right: 1px !important; }
.ui-margin-pixel-left { margin-left: 1px !important; }

.ui-margin-none { margin: 0 !important; }
.ui-margin-none-top { margin-top: 0 !important; }
.ui-margin-none-bottom { margin-bottom: 0 !important; }
.ui-margin-none-left { margin-left: 0 !important; }
.ui-margin-none-right { margin-right: 0 !important; }

/***********************************************
** UI-BORDER
***********************************************/
.ui-border-none { border: none; }
.ui-border {border-width: 1px;}
.ui-border-left { border-left-width: 1px; }
.ui-border-right { border-right-width: 1px; }
.ui-border-top { border-top-width: 1px; }
.ui-border-bottom { border-bottom-width: 1px; }

.ui-border-shadow {border-width: 3px;}
.ui-border-left-shadow { border-left-width: 3px; }
.ui-border-right-shadow { border-right-width: 3px; }
.ui-border-top-shadow { border-top-width: 3px; }
.ui-border-bottom-shadow { border-bottom-width: 3px; }

.ui-border-top,
.ui-border-top-thick,
.ui-border-top-shadow { border-top-style: solid; }

.ui-border-bottom,
.ui-border-bottom-thick,
.ui-border-bottom-shadow { border-bottom-style: solid; }

.ui-border-left,
.ui-border-left-shadow { border-left-style: solid; }

.ui-border { border-style: solid; }
.ui-border-left,
.ui-border-left-shadow { border-left-style: solid; }
.ui-border-right,
.ui-border-right-shadow { border-right-style: solid; }
.ui-border-top,
.ui-border-top-shadow { border-top-style: solid; }
.ui-border-bottom,
.ui-border-bottom-shadow { border-bottom-style: solid; }

.ui-border,
.ui-border-shadow,
.ui-border-left-shadow,
.ui-border-right-shadow,
.ui-border-top-shadow,
.ui-border-bottom-shadow { border-color: rgba(0,0,0,.03); }

.ui-border-thick { border-width: 6px; }
.ui-border-top-thick { border-top-width: 6px; }
.ui-border-bottom-thick { border-bottom-width: 6px; }
.ui-border-left-thick { border-left-width: 6px; }
.ui-border-right-thick { border-right-width: 6px; }


/***********************************************
** UI-BUTTON
***********************************************/
.ui-button-action,
.ui-button-submit {
  text-transform: none;
  border-width: 1px;
  border-style: solid;
  min-width: 6rem;
  min-height: 5rem;
}
.ui-button-text {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.ui-button-with-icon  {
  display: table !important;
  padding: .3rem .5rem;
}
.ui-button-with-icon > i {
  display: table-cell !important;
}
.ui-button-with-icon > span {
  display: table-cell !important;
  text-align: left !important;
  padding-left:.1rem;
  width: 100% !important;
}

/***********************************************
** UI FORMATTING OPTIONS
***********************************************/
.ui-table {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}
.ui-table > li {
  display: table-cell;
  vertical-align: middle;
}
.ui-block,
.ui-block > li { display: block; }
.ui-wrap-none { white-space: nowrap; }
.ui-stretch { width: 100%; }
.ui-stretch-half { width: 50%; }
.ui-squeeze { width: 1px; }
.ui-clean {
  padding: 0;
  margin: 0;
  width: auto;
  height: inherit;
}
.ui-text-center { text-align: center; }
.ui-text-left { text-align: left; }
.ui-text-right { text-align: right; }
.ui-vertical-top { vertical-align: top !important; }
.ui-vertical-middle { vertical-align: middle !important; }
.ui-vertical-bottom { vertical-align: bottom !important; }
.ui-round { border-radius: 6px; }
.ui-round-top-left { border-top-left-radius: 6px; }
.ui-round-top-right { border-top-right-radius: 6px; }
.ui-round-bottom-left { border-bottom-left-radius: 6px; }
.ui-round-bottom-right { border-bottom-right-radius: 6px; }
.uicover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.ui-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.ui-flex-item {
  width: calc((100% / 3) - 1rem);
  margin: .5rem;
}
.ui-flex-item:hover {
  -webkit-animation-name: zoom; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .25s; /* Safari 4.0 - 8.0 */
  animation-name: zoom;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

/***********************************************
** UI RESPONSIVE
***********************************************/
.ui-responsive-block {
  display: inline-block;
}
.ui-responsive-hide {
  display: block;
}
@media only screen and (max-width: 768px) {
  .ui-responsive-block {
    display: block !important;
    width: 100% !important;
  }
  .ui-responsive-hide {
    display: none !important;
  }
  .uicover {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
}


